<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from requests) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hilman\appdata\local\programs\python\python39\lib\site-packages (from requests) (2022.12.7)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Imports

Import any additional libraries you may need here.

In [5]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [6]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=RzozoKSrm6GY9AsQTUvOf4uKc7UX0ugA" #Make sure to change ******* to your API key.
data = json.loads(requests.get(url).text)

In [7]:
df1 = pd.DataFrame(data)

In [8]:
df1

     success   timestamp base        date        rates
AED     True  1679641502  EUR  2023-03-24     3.975556
AFN     True  1679641502  EUR  2023-03-24    93.999169
ALL     True  1679641502  EUR  2023-03-24   113.638283
AMD     True  1679641502  EUR  2023-03-24   420.352164
ANG     True  1679641502  EUR  2023-03-24     1.948672
..       ...         ...  ...         ...          ...
YER     True  1679641502  EUR  2023-03-24   270.940474
ZAR     True  1679641502  EUR  2023-03-24    19.597755
ZMK     True  1679641502  EUR  2023-03-24  9743.447120
ZMW     True  1679641502  EUR  2023-03-24    22.855700
ZWL     True  1679641502  EUR  2023-03-24   348.552263

[170 rows x 5 columns]

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [10]:
# Turn the data into a dataframe
df = pd.DataFrame(columns=["Currency", "Rate"])
for i,j in data['rates'].items():
    df = df.append({"Currency": i, "Rate": j}, ignore_index=True)

In [11]:
df

    Currency         Rate
0        AED     3.975556
1        AFN    93.999169
2        ALL   113.638283
3        AMD   420.352164
4        ANG     1.948672
..       ...          ...
165      YER   270.940474
166      ZAR    19.597755
167      ZMK  9743.447120
168      ZMW    22.855700
169      ZWL   348.552263

[170 rows x 2 columns]

In [12]:
# Drop unnescessary columns
df.set_index("Currency", inplace=True, drop=True)
df

                 Rate
Currency
AED          3.975556
AFN         93.999169
ALL        113.638283
AMD        420.352164
ANG          1.948672
...               ...
YER        270.940474
ZAR         19.597755
ZMK       9743.447120
ZMW         22.855700
ZWL        348.552263

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [13]:
# Save the Dataframe
df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).